
<body style="background-color:whitesmoke"></body>

<br></br>

<h1><u>Základní informace o přihlášení do systému</u></></h1>
<br>

<p style="text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; color:white"><b>Základní zásady jak se přihlásit do systému: </b></p>
  
  <p><i>1. Jděte na záložku Home v hlavní nabídce horní lišty</i> </p>
  <img src="/images/X.png" class=" shadow-lg"> </p>
  <p><i> 2. Zadejte jméno: <b>admin</b> a <b>heslo: Abcde1234</b>.</i> </p>
  <p><i> 3. Pomocí přístupu jako admin můžete provádět veškeré operace v informačním systému </i></p>

<br></br>

<h2><u>Základní přístupové konto na přihlášení</u></p></h2>
<br>

<table class="table" style="width:100%">
    <tr>
        <th>Login</th>
        <th>Password</th>
    </tr>
    <tr>    
        <td >Admin</td>
        <td >Abcd1234.</td>
    </tr>
</table>