@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br></br>

<p><i><b>Use this page to detail your site's privacy policy.</b></i></p>

<p><i><b> Tato aplikace byla vytvořena pro studijní účely na rekvalifikačním kurzu VŠB - TUO. </b></i></p>